nav {
  display: flex;
  justify-content: center;
  height: 60px;

  a {
    display: grid;
    place-items: center;
    background: linear-gradient(#0f7dcb, #0a68a2);
    color: #ffffffe0;
    padding: 0 15px;
    font-weight: 700;
    border-right: 2px solid #10578a;
    box-shadow: inset #ffffff42 2px 0 3px 0.1px;
    
    &:first-child {
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
    }

    &:last-child {
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
      border: none;
    }

    &:hover {
      background: linear-gradient(#51a0d9, #136da5);
      color: #ffffff;
    }

    &:active {
      background: linear-gradient(#1d82cb, #176fa6);
      box-shadow: inset #00000028 0 0 7px 0.1px;
    }
  }
}