form {
  display: grid;
  place-content: center;
  gap: 5px;
  height: calc(100vh - 60px);

  input {
    width: 300px;
    height: 40px;
    outline: 2px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    
    &[type=email], &[type=password] {
      &:focus {
        outline-color: grey;
      }

      &:invalid {
        outline-color: #ff0000;
      }
    }

    

    &[type=submit] {
      cursor: pointer;

      &:hover {
        background-color: whitesmoke;
      }

      &:active {
        transform: scale(0.99);
      }
    }
  }
}