.database__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 30px;

  .db__add__item {
    display: flex;
    align-items: center;
    gap: 1px;
    width: 400px;
    height: 40px;

    input {
      width: 80%;
      height: 100%;
      border: 2px solid lightgray;
      border-radius: 5px;
      padding-left: 5px;
      font-size: inherit;

      &:focus {
        outline: 3px solid #1978b4;
        outline-offset: -3px;
      }
    }

    button {
      width: 20%;
      height: 100%;
      border: 2px solid lightgray;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: whitesmoke;
      }

      &:active {
        transform: scale(0.99);
      }
    }
  }
}